@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Plus+Jakarta+Sans&family=Roboto:wght@300&display=swap");

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(210, 60%, 98%);
    font-family: "Plus Jakarta Sans", sans-serif;
    color: hsl(219, 12%, 42%);
    font-size: 15px;
}

.container {
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 100%);
    padding: 0 10px;
    max-height: 95vh;
}

.header {
    display: flex;
    position: sticky;
    top: -1px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
}

.header h3 {
    display: inline;
    font-weight: bolder;
    color: black;
}

.header .badge {
    background-color: hsl(219, 85%, 26%);
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: small;
}

.header p {
    font-size: 13px;
    font-weight: 600;
}

.notificationTemplate {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 6px auto;
}
 .unread{
    background-color: hsl(210, 60%, 97%);
}
.notificationTemplate:first-child {
    margin-top: 20px;
}

.notificationTemplate .desc {
    margin: 0 10px;
    position: relative;
    width: 100%;
}

.name {
    position: relative;
    font-size: 15px;
    font-weight: bolder;
    margin-right: 5px;
    color: hsl(224, 21%, 14%);
}

.link {
    margin-left: 5px;
    color: hsl(219, 12%, 42%);
    font-weight: 900;
}
.notificationTemplate .group{
    color: hsl(219, 85%, 26%);
    font-weight: bolder;
}
.notificationTemplate .desc .time {
    color: hsl(219, 14%, 63%);
}
.notificationTemplate .desc .message{
    border: 1px solid hsl(210, 30%, 85%);
    border-radius: 5px;
    padding: 15px 10px;
}
.notificationTemplate .desc .message:hover{
    cursor: pointer;
    background-color: hsl(205, 33%, 90%);
}
.notificationTemplate img{
    width: 37px;
    height: 37px;
    /* position: absolute; */
}
.notificationTemplate .comment-img{
   position: relative;
   right: 10px;
}
.notificationTemplate .comment-img:hover{
    cursor: pointer;
}
.unread-badge::after {
    content: "";
    position: absolute;
    left: 101%;
    top: 28%;
    border: 2px solid hsl(1, 90%, 64%);
    border-radius: 50%;
    padding: 1px 1px;
    margin-left: 5px;
    background-color: hsl(1, 90%, 64%);
}

.mark:hover, .name:hover, .link:hover,.group:hover{
    cursor: pointer;
    color: hsl(219, 85%, 26%);
}
@media screen and (max-width: 375px) {
    .container {
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);
    }

    .notificationTemplate .desc {
        margin: 5px 10px;
        position: relative;
        line-height: inherit;
    }
}